<template>
  <div>
    <h1 class="title">{{msg}}</h1>
    <p>มาจากอีก compo นะจ่ะ {{num.num}}</p>
    
  </div>
</template>

<style type="text/css">
	img{
		width: 30%;
		height: 30%;
		padding: 20px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        

	}
	div{
		align-items: center;
	}
	p{
		text-align: center;
	}
	h1{
		text-align: center;
	}
</style>

<script type="text/javascript">
	export default {
    name:'data',
    props : {
        num : Number
    },
    data(){
    	return {
    		msg:'สิรวิชญ์ สายแวว !!',

    	}
    }
    
  }
</script>

