<template>
	<div class="nav">
		<nuxt-link to='/' class='brand'>Real world event</nuxt-link>
			<nav>
				<nuxt-link to="/">หน้าหลัก</nuxt-link>&nbsp;|
          		<nuxt-link to="/create">เพิ่มสินค้า</nuxt-link>
          	</nav>	
	</div>
</template>

<style scoped>
    .brand {
      font-family: 'Montserrat', sans-serif;
      font-weight: 700;
      font-size: 1.5em;
      color: #ff6991;
      text-decoration: line-through;
    }
    .nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 50px;
      padding: 10;

    }
    .nav .nav-item {
      box-sizing: border-box;
      margin: 0 5px;
      color: rgba(0, 0, 0, 0.5);
      text-decoration: none;
    }
    .nav .nav-item.router-link-exact-active {
      color: #39b982;
      border-bottom: solid 2px #39b982;
    }
    .nav a {
      display: inline-block;
    }
    </style>