<template>
	<div>
		<h1>ระบบจัดการสินค้า</h1>
		<hr>
		<!-- <div v-if="isloading">
			<h1>Item are Loading ...</h1>
		</div> -->
			<div v-if="loaded" class="container">
			<table class="table table-hover">
            <thead>
              <tr>
                <th style="width: 5%">ลำดับ</th>
                <th style="width: 10%">ชื่อสินค้า</th>
                <th style="width: 10%">ราคา</th>
                <th style="width: 20.66%">การดำเนินการ</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="item in fetchItem" v-bind:key="item.id" >
                <td><b-badge class="badge-danger">ใหม่</b-badge> {{item.id}} </td>
                <td>{{ item.product }}</td>
                <td>{{ item.price }} </td>
                <td>
					<button type="button" class="btn btn-info mr-2" v-on:click="Toggleupdate(item)">แก้ไข</button>
                  <button type="button" class="btn btn-danger mr-2" v-on:click="deleteAnItem(item.id)">ลบ</button>
                </td>
              </tr>
            </tbody>
          </table>
			<div class="container">
			<div class="row">

					<div class="col-12 col-sm-2">
						<label v-if="isUpdating">อัพเดทสินค้าลำดับ: {{id}} </label>
						<label v-else>เพิ่มรายการสินค้า</label>
					</div>
					<div class='col-6 col-sm-3'> 
					<b-form-input v-model="name" placeholder="ใส่ชื่อสินค้า"></b-form-input>
					</div>

					<div class="col-auto col-sm-3">
					<b-form-input v-model="price" type="number" placeholder="ใส่ราคา"></b-form-input>
					</div>
					<div class="col-6 col-sm-3 ">
						<b-button v-if="isUpdating" type="button"  class="btn btn-success mr-2" v-on:click="updateAnItem">อัพเดท</b-button>
						<b-button v-if="isUpdating" type="button"  class="btn btn-danger mr-2" v-on:click="Toggleupdate" >ยกเลิก</b-button>
						<b-button v-else type="button"  class="btn btn-success mr-2" v-on:click="addItem">เพิ่ม</b-button>
					</div>
			</div>
			</div>
			</div>
			<div v-else class="col-12">
				<b-spinner label="Loading..."></b-spinner>
			</div>
	</div>
</template>

<style type="text/css">
	h1{
		text-align: center;
	}
</style>

<script>
import axios from 'axios';
export default {
	
	data(){
		return {
			items: [],	
			loaded : false,
			name : '',
			price : '',
			isUpdating : false,
			id:null
		}
	},
	created(){
		this.fetchData()
	},
	computed : {
		fetchItem : function(){
			setTimeout(()=>this.fetchData(),100)
			return this.items
		}
	},
	methods : {
		fetchData(){
			axios.get('http://localhost:3001/api/').then((res) => {
				this.items = res.data
				this.loaded = true
				
			})
			
		},
		addItem(){
			axios.post('http://localhost:3001/api/add',{
				name : this.name,
				price : this.price
				
			})
			this.name = ''
			this.price = ''

		},
		deleteAnItem(id){
			axios.delete('http://localhost:3001/api/'+id)
		},
		Toggleupdate(payload){
			this.isUpdating = !this.isUpdating
			if(this.isUpdating){
				this.id = payload.id
				this.name = payload.product
				this.price = payload.price
			}else{
				this.id = null
				this.name = ''
				this.price = ''
			}
		},
		updateAnItem(){
			axios.put('http://localhost:3001/api/'+this.id,{
				name : this.name,
				price : this.price
			})
			this.Toggleupdate()
		},
		
	},
	
}
</script>
