<template>
  <div class="text-center">
    
  </div>
</template>



<script type="text/javascript">
  
  import axios from 'axios';
  export default {
    name:'app',
    
    methods:{
      
      }
    ,
    data(){
      return {
      }
    }
  }
</script>


  


